/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

/*---------------------*/
/*--- HEADER STYLES ---*/
/*---------------------*/
* {
	box-sizing: border-box;
}

#site-navigation a {
	@apply text-black whitespace-nowrap text-lg md:text-base;

	&:not(.feature-button) {
		@apply hover:text-primary;
	}
}
#site-navigation li:not(.feature-button):hover > a {
	@apply text-primary;
}
#site-navigation li.current-menu-item > a,
#site-navigation li.current-menu-item:after {
	&:not(.feature-button) {
		@apply text-primary fill-primary;
	}
}
#site-navigation #main-right > li {
	@apply w-full text-left pt-4 md:pt-0;
}
#site-navigation #main-right {
	@apply flex flex-col md:flex-row items-center md:gap-6 divide-y divide-gray-200 gap-4 md:divide-none;
}
.logo svg {
	@apply h-14 sm:h-16 md:h-20;
}
#site-navigation .mega-feature-button a {
	@apply text-white lowercase h-full hover:!text-white;
}

#site-navigation .mega-feature-button a::before {
	content: "";
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iI2ZmZiIgY2xhc3M9InctNiBoLTYiPgogIDxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTYuNzUgM3YyLjI1TTE3LjI1IDN2Mi4yNU0zIDE4Ljc1VjcuNWEyLjI1IDIuMjUgMCAwIDEgMi4yNS0yLjI1aDEzLjVBMi4yNSAyLjI1IDAgMCAxIDIxIDcuNXYxMS4yNW0tMTggMEEyLjI1IDIuMjUgMCAwIDAgNS4yNSAyMWgxMy41QTIuMjUgMi4yNSAwIDAgMCAyMSAxOC43NW0tMTggMHYtNy41QTIuMjUgMi4yNSAwIDAgMSA1LjI1IDloMTMuNUEyLjI1IDIuMjUgMCAwIDEgMjEgMTEuMjV2Ny41bS05LTZoLjAwOHYuMDA4SDEydi0uMDA4Wk0xMiAxNWguMDA4di4wMDhIMTJWMTVabTAgMi4yNWguMDA4di4wMDhIMTJ2LS4wMDhaTTkuNzUgMTVoLjAwOHYuMDA4SDkuNzVWMTVabTAgMi4yNWguMDA4di4wMDhIOS43NXYtLjAwOFpNNy41IDE1aC4wMDh2LjAwOEg3LjVWMTVabTAgMi4yNWguMDA4di4wMDhINy41di0uMDA4Wm02Ljc1LTQuNWguMDA4di4wMDhoLS4wMDh2LS4wMDhabTAgMi4yNWguMDA4di4wMDhoLS4wMDhWMTVabTAgMi4yNWguMDA4di4wMDhoLS4wMDh2LS4wMDhabTIuMjUtNC41aC4wMDh2LjAwOEgxNi41di0uMDA4Wm0wIDIuMjVoLjAwOHYuMDA4SDE2LjVWMTVaIiAvPgo8L3N2Zz4K");
	background-size: contain;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}
.menu-item-has-children::after {
	@apply absolute flex right-0 top-6 md:top-[50%] translate-y-[-50%] items-center justify-center;
	content: "";
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1kb3duIj48cG9seWxpbmUgcG9pbnRzPSI2IDkgMTIgMTUgMTggOSIvPjwvc3ZnPg==");
	background-size: contain;
	width: 18px;
	height: 18px;
}
#site-navigation .menu-item-has-children.current-menu-item:after,
#site-navigation .menu-item-has-children:hover:after {
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwOEEzOUEiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWNoZXZyb24tZG93biI+PHBvbHlsaW5lIHBvaW50cz0iNiA5IDEyIDE1IDE4IDkiLz48L3N2Zz4=");
	background-size: contain;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
}
.menu-item-has-children {
	@apply relative pr-6 text-black;
}
.menu-item-has-children:hover {
	@apply text-primary;
}
#masthead .menu-item-has-children .sub-menu {
	@apply p-4 md:rounded-lg md:min-w-[230px] hidden text-transparent flex-col gap-2 md:shadow md:absolute bg-white;
	visibility: hidden; /* Make it invisible */
}

#masthead .menu-item-has-children:hover .sub-menu {
	@apply bg-white text-black;
	visibility: visible; /* Make it visible on hover */
}

#main-right
	> li.menu-item-has-children
	> .sub-menu
	li.menu-item-has-children
	> .sub-menu {
	@apply !left-[100%];
}

#mega-menu-wrap-main-right {
	background: transparent;
}
#mega-menu-wrap-main-right
	#mega-menu-main-right
	> li.mega-menu-item
	> a.mega-menu-link {
	font-size: 1rem;
	line-height: 1.5rem;
}

.mega-sub-menu {
	padding: 1rem !important;
	border-radius: 14px !important;

	@apply shadow;
}
.mobile-book,
.book-icon {
	@apply !flex flex-nowrap gap-1 relative;
}
.mobile-book:before,
.book-icon:before {
	display: block;
	content: "";
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iI2ZmZiIgY2xhc3M9InctNiBoLTYiPgogIDxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTYuNzUgM3YyLjI1TTE3LjI1IDN2Mi4yNU0zIDE4Ljc1VjcuNWEyLjI1IDIuMjUgMCAwIDEgMi4yNS0yLjI1aDEzLjVBMi4yNSAyLjI1IDAgMCAxIDIxIDcuNXYxMS4yNW0tMTggMEEyLjI1IDIuMjUgMCAwIDAgNS4yNSAyMWgxMy41QTIuMjUgMi4yNSAwIDAgMCAyMSAxOC43NW0tMTggMHYtNy41QTIuMjUgMi4yNSAwIDAgMSA1LjI1IDloMTMuNUEyLjI1IDIuMjUgMCAwIDEgMjEgMTEuMjV2Ny41bS05LTZoLjAwOHYuMDA4SDEydi0uMDA4Wk0xMiAxNWguMDA4di4wMDhIMTJWMTVabTAgMi4yNWguMDA4di4wMDhIMTJ2LS4wMDhaTTkuNzUgMTVoLjAwOHYuMDA4SDkuNzVWMTVabTAgMi4yNWguMDA4di4wMDhIOS43NXYtLjAwOFpNNy41IDE1aC4wMDh2LjAwOEg3LjVWMTVabTAgMi4yNWguMDA4di4wMDhINy41di0uMDA4Wm02Ljc1LTQuNWguMDA4di4wMDhoLS4wMDh2LS4wMDhabTAgMi4yNWguMDA4di4wMDhoLS4wMDhWMTVabTAgMi4yNWguMDA4di4wMDhoLS4wMDh2LS4wMDhabTIuMjUtNC41aC4wMDh2LjAwOEgxNi41di0uMDA4Wm0wIDIuMjVoLjAwOHYuMDA4SDE2LjVWMTVaIiAvPgo8L3N2Zz4K");
	background-size: contain;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

/*---------------------*/
/*--- Buttons ---*/
/*---------------------*/
.button {
	@apply rounded-full py-3 px-6 font-semibold text-center border ease-in-out duration-300 inline-block;
}
.button.primary {
	@apply bg-primary text-white hover:text-primary hover:bg-transparent border-primary;
}
.button.secondary {
	@apply bg-neutral-600 text-white hover:text-neutral-600 hover:bg-transparent border-neutral-600;
}
.button.alt {
	@apply border-black;
}
.button.alt:hover {
	@apply border-primary bg-primary text-white;
}
/*---------------------*/
/*--- Links ---*/
/*---------------------*/
.link {
	@apply font-semibold transition-all ease-in-out duration-300 inline-block relative mb-2;
}
.link:after {
	content: "";
	@apply w-6/12 h-[2px] absolute -bottom-1 left-0 bg-primary transition-all ease-in-out duration-300;
}
.link:hover:after {
	@apply w-full;
}
.link svg {
	@apply transition-all ease-in-out duration-300;
}
.link:hover svg {
	@apply ml-2;
}

/*---------------------*/
/*--- Scroll ---*/
/*---------------------*/
#circle {
	position: relative;
	width: 100%;
	padding-bottom: 200px;
	overflow: hidden;
}
#circle svg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-animation-name: rotate;
	-moz-animation-name: rotate;
	-ms-animation-name: rotate;
	-o-animation-name: rotate;
	animation-name: rotate;
	-webkit-animation-duration: 15s;
	-moz-animation-duration: 15s;
	-ms-animation-duration: 15s;
	-o-animation-duration: 15s;
	animation-duration: 15s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(360deg);
	}
	to {
		-webkit-transform: rotate(0);
	}
}
@-moz-keyframes rotate {
	from {
		-moz-transform: rotate(360deg);
	}
	to {
		-moz-transform: rotate(0);
	}
}
@-ms-keyframes rotate {
	from {
		-ms-transform: rotate(360deg);
	}
	to {
		-ms-transform: rotate(0);
	}
}
@-o-keyframes rotate {
	from {
		-o-transform: rotate(360deg);
	}
	to {
		-o-transform: rotate(0);
	}
}
@keyframes rotate {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0);
	}
}

/*---------------------*/
/*--- STYLED SEELCT ---*/
/*---------------------*/
.styled-select-container {
	position: relative;
	display: inline-block;
}

#styled-select {
	@apply min-w-[200px] bg-gradient-to-r from-teal-700 to-teal-500 inline-block rounded-lg text-white px-4 py-3 cursor-pointer flex justify-between items-center gap-3 text-sm font-light uppercase;
}
#styled-select svg {
	@apply w-6 h-6;
}

.styled-select-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	@apply rounded-b-lg w-full;
}

.styled-select-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	@apply flex items-center justify-start gap-2;
}
.styled-select-content a svg {
	@apply w-6 h-6;
}

.styled-select-content a:hover {
	background-color: #f1f1f1;
}
#select-text {
	@apply flex gap-2 items-center;
}

/* EMBLA */
.embla {
	overflow: hidden;
}
.embla__container {
	display: flex;
}
.embla__slide {
	flex: 0 0 100%;
	min-width: 0;
}
.embla__dots {
	@apply max-w-screen-2xl mx-auto py-4 px-5 md:px-20 flex flex-col gap-3 absolute bottom-[120px] md:bottom-[50%] right-0;
}
.embla__dot {
	@apply p-2 w-full h-full flex items-center justify-center cursor-pointer;
}
.embla__dot .dot-inner {
	@apply bg-gray-300 w-[10px] h-[10px] rounded-full;
}
.embla__dot.is-active {
	@apply border border-primary rounded-full;
}
.embla__dot.is-active .dot-inner {
	@apply bg-primary;
}
.embla__dot .slide-number {
	@apply absolute -left-12 md:left-2 font-bold text-black;
}
.embla__dot .dot-line {
	@apply absolute w-10 h-[1px] bg-black;
	left: calc(50% - 60px);
}

#hero .sb-feed-posts {
	@apply w-full md:!w-[40%];
}
#hero .sb-item-author-img {
	display: none;
}
#hero .sb-post-item {
	display: flex;
	flex-direction: column-reverse;
	gap: 0px;
}
#hero .sb-item-rating {
	display: none !important;
}
#hero .sb-post-item-wrap {
	padding: 0px !important;
}
#hero .sbr-owl-item {
	padding: 0px !important;
}
#hero .sb-feed-header {
	margin: 0px !important;
}
#hero .sb-feed-header-bottom {
	margin: 0px !important;
	margin-bottom: 5px !important;
}
#hero #sb-reviews-container-3 {
	margin-top: 20px !important;
}
#hero .sbr-owl-nav {
	display: none;
}
#hero .sbr-owl-dots {
	display: none;
}
#hero .sb-item-provider-icon {
	display: none;
}
@media (max-width: 768px) {
	.embla__dots {
		display: none;
	}
	.embla__slide > div {
		padding-top: 30px;
		padding-bottom: 0px;
	}
}

#hero p {
	@apply text-black;
}

#hero .w-full.absolute.bottom-0.bg-gray-50 {
	background: white;
}

#hero .desktop-hero {
	@apply hidden;
}

#hero .mobile-hero {
	@apply opacity-20;
}

@screen lg {
	#hero .desktop-hero {
		@apply block;
	}
	#hero .mobile-hero {
		@apply hidden;
	}
}

.mega-feature-button {
	padding: 0px !important;
}

.mega-feature-button a {
	line-height: 1 !important;
	background: rgb(8 163 154) !important;
	border-radius: 60px !important;
	padding: 0px !important;
	display: flex !important;
	align-items: center !important;
	padding: 20px 30px !important;
	color: white !important;
}

#mega-menu-wrap-main-right
	#mega-menu-main-right
	> li.mega-menu-item
	> a.mega-menu-link {
	line-height: 40px;
}

#mega-menu-wrap-main-right
	#mega-menu-main-right
	li.mega-menu-item
	a.mega-menu-link:before {
	fill: white;
	color: white;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxLjUiIGNsYXNzPSJ3LTYgaC02IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTYuNzUgM3YyLjI1TTE3LjI1IDN2Mi4yNU0zIDE4Ljc1VjcuNWEyLjI1IDIuMjUgMCAwIDEgMi4yNS0yLjI1aDEzLjVBMi4yNSAyLjI1IDAgMCAxIDIxIDcuNXYxMS4yNW0tMTggMEEyLjI1IDIuMjUgMCAwIDAgNS4yNSAyMWgxMy41QTIuMjUgMi4yNSAwIDAgMCAyMSAxOC43NW0tMTggMHYtNy41QTIuMjUgMi4yNSAwIDAgMSA1LjI1IDloMTMuNUEyLjI1IDIuMjUgMCAwIDEgMjEgMTEuMjV2Ny41bS05LTZoLjAwOHYuMDA4SDEydi0uMDA4Wk0xMiAxNWguMDA4di4wMDhIMTJWMTVabTAgMi4yNWguMDA4di4wMDhIMTJ2LS4wMDhaTTkuNzUgMTVoLjAwOHYuMDA4SDkuNzVWMTVabTAgMi4yNWguMDA4di4wMDhIOS43NXYtLjAwOFpNNy41IDE1aC4wMDh2LjAwOEg3LjVWMTVabTAgMi4yNWguMDA4di4wMDhINy41di0uMDA4Wm02Ljc1LTQuNWguMDA4di4wMDhoLS4wMDh2LS4wMDhabTAgMi4yNWguMDA4di4wMDhoLS4wMDhWMTVabTAgMi4yNWguMDA4di4wMDhoLS4wMDh2LS4wMDhabTIuMjUtNC41aC4wMDh2LjAwOEgxNi41di0uMDA4Wm0wIDIuMjVoLjAwOHYuMDA4SDE2LjVWMTVaIi8+PC9zdmc+) !important;
	background-size: contain;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

#mega-menu-wrap-main-right #mega-menu-main-right > .mega-feature-button a {
	height: 54px !important;
	margin-left: 20px;
}

.mobile-menu {
	overflow: auto;
	padding-bottom: 100px;
}

@media (max-width: 768px) {
	.mega-menu-link {
		justify-content: center !important;
	}
}

.hbspt-form form h1 {
	font-size: 1.5rem !important;

	@apply text-primary;
}

.hbspt-form form {
	width: 100% !important;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.hbspt-form input,
.hbspt-form select,
.hbspt-form textarea {
	border: 1px solid rgb(230, 230, 230);
	border-radius: 12px;
	padding: 10px 20px;
	width: 100% !important;
	background: rgb(250, 250, 250);
}

.hbspt-form .input {
	margin: 0px !important;
	margin-top: 4px !important;
}

.form-columns-2 {
	display: flex;
	width: 100% !important;
	gap: 1rem;
}

.hs-form-field {
	width: 100% !important;
	float: none !important;
}

fieldset {
	max-width: 100% !important;
}

.hs-error-msg {
	font-size: 14px;
	color: red;
}

.hs-button {
	line-height: 1 !important;
	background: #08a39a !important;
	border-radius: 60px !important;
	justify-content: center;
	display: flex !important;
	align-items: center !important;
	padding: 20px 30px !important;
	color: #fff !important;
}

footer ul li {
	font-size: 16px;
}

.hs-form-radio label {
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
	font-size: 16px;
	color: black;
}

.hs-form-radio label input {
	width: auto !important;
}

p:not(.link) > a:not(.link) {
	@apply text-primary underline;
}

.link * {
	@apply !no-underline;
}

.wp-block-safe-svg-svg-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.locations-carousel .location-card {
	@apply flex flex-col items-stretch h-full;
	padding: 0px !important;
	overflow: hidden;
	text-align: left;
	box-sizing: border-box;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: auto; /* Ensure the card adjusts to its content */
	max-width: 100%; /* Optional: Limit the maximum width */
}

.locations-carousel .location-card img {
	max-width: 100%;
	width: 100%;
	height: 216px;
	object-fit: cover;
}

.locations-carousel .location-card .location-content {
	padding: 1rem;
}
.locations-carousel .location-card .location-content h3 {
	@apply text-primary text-xl mb-2;
}
.locations-carousel .location-card .location-content p {
	font-size: 1rem;
	color: black;
}
.locations-carousel .location-card .location-content p a {
	@apply text-gray-800;
}

.mega-sub-menu {
	padding: 0px !important;
}

.mega-sub-menu > mega-menu-item {
	margin-bottom: 6px !important;
}
#mega-menu-main-right {
	display: flex !important;
	align-items: center;
}
#mega-menu-main-right > li.mega-menu-item-has-children > ul {
	top: 70px !important;
	padding: 0px !important;
	display: flex !important;
	justify-content: center;
	padding: 20px 0px 10px 0px !important;
}
#masthead #mega-menu-main-right > li > ul > li.mega-menu-row {
	@apply !max-w-screen-2xl !mx-auto !px-5 md:!px-5;
}

#mega-menu-wrap-main-right
	#mega-menu-main-right
	> li.mega-menu-megamenu
	> ul.mega-sub-menu
	li.mega-menu-column
	> ul.mega-sub-menu
	> li.mega-menu-item
	> a.mega-menu-link {
	margin-bottom: 10px;
}
.mobile-menu details summary {
	@apply list-none;
}
.mobile-menu details summary::-webkit-details-marker {
	display: none;
}

.mobile-menu #site-navigation .menu-item-has-children:after {
	display: none;
}

.mobile-menu #site-navigation .menu-item-has-children summary:after {
	@apply absolute flex right-0 top-6 md:top-[50%] translate-y-[-50%] items-center justify-center;
	content: "";
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1kb3duIj48cG9seWxpbmUgcG9pbnRzPSI2IDkgMTIgMTUgMTggOSIvPjwvc3ZnPg==");
	background-size: contain;
	width: 18px;
	height: 18px;
}
.mobile-menu
	#site-navigation
	.menu-item-has-children
	details[open]
	summary:after {
	@apply rotate-180;
}

.mobile-menu details > ul {
	@apply pl-4;
}

.mobile-menu #main-right li a,
.mobile-menu #main-right li summary {
	@apply !text-base;
}

.mobile-menu .feature-button a {
	@apply bg-primary w-full rounded-full text-center !text-white py-3 relative flex items-center justify-center gap-2;
}

.mobile-menu .feature-button a::before {
	display: block;
	content: "";
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iI2ZmZiIgY2xhc3M9InctNiBoLTYiPgogIDxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTYuNzUgM3YyLjI1TTE3LjI1IDN2Mi4yNU0zIDE4Ljc1VjcuNWEyLjI1IDIuMjUgMCAwIDEgMi4yNS0yLjI1aDEzLjVBMi4yNSAyLjI1IDAgMCAxIDIxIDcuNXYxMS4yNW0tMTggMEEyLjI1IDIuMjUgMCAwIDAgNS4yNSAyMWgxMy41QTIuMjUgMi4yNSAwIDAgMCAyMSAxOC43NW0tMTggMHYtNy41QTIuMjUgMi4yNSAwIDAgMSA1LjI1IDloMTMuNUEyLjI1IDIuMjUgMCAwIDEgMjEgMTEuMjV2Ny41bS05LTZoLjAwOHYuMDA4SDEydi0uMDA4Wk0xMiAxNWguMDA4di4wMDhIMTJWMTVabTAgMi4yNWguMDA4di4wMDhIMTJ2LS4wMDhaTTkuNzUgMTVoLjAwOHYuMDA4SDkuNzVWMTVabTAgMi4yNWguMDA4di4wMDhIOS43NXYtLjAwOFpNNy41IDE1aC4wMDh2LjAwOEg3LjVWMTVabTAgMi4yNWguMDA4di4wMDhINy41di0uMDA4Wm02Ljc1LTQuNWguMDA4di4wMDhoLS4wMDh2LS4wMDhabTAgMi4yNWguMDA4di4wMDhoLS4wMDhWMTVabTAgMi4yNWguMDA4di4wMDhoLS4wMDh2LS4wMDhabTIuMjUtNC41aC4wMDh2LjAwOEgxNi41di0uMDA4Wm0wIDIuMjVoLjAwOHYuMDA4SDE2LjVWMTVaIiAvPgo8L3N2Zz4K");
	background-size: contain;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

@media (max-width: 1024px) {
	#main-right {
		flex-direction: column !important;
	}
}

.mega-sub-menu img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-height: 164px;
	@apply rounded;
}

.mega-menu-row > .mega-sub-menu {
	@apply flex gap-2 justify-between py-2;
}

.mega-menu-row > .mega-sub-menu li {
	@apply mb-2;
}

#mega-menu-wrap-main-right
	#mega-menu-main-right
	> li.mega-menu-item
	> a.mega-menu-link {
	font-size: clamp(0.6rem, 1.4vw, 1rem) !important;
}

@media (max-width: 340px) {
	.mobile-book:before {
		@apply hidden;
	}
}

.mobile-menu .feature-button {
	@apply fixed bottom-0 w-full left-0 !p-0;

	a {
		@apply rounded-none py-4;
	}
}

.search-container {
	position: relative;
	display: flex;
	align-items: center;
}

.search-box {
	transition:
		width 0.6s,
		border-radius 0.6s,
		background 0.6s,
		box-shadow 0.6s;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	background: transparent;
	padding: 0 10px;
}

.search-box:focus {
	transition:
		width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39),
		border-radius 0.6s,
		background 0.6s;

	outline: none;
	box-shadow: none;
	padding-left: 15px;
	cursor: text;
	width: 175px;
	border-radius: auto;
	background: transparent;
	border: 1px solid #08a39a;
	color: black;
}

.search-box:not(:focus) {
	text-indent: -5000px;
}

#search-submit {
	position: absolute;
	left: -5000px;
}

.search-icon-label {
	position: absolute;
	right: 10px;
	display: flex;
	align-items: center;
	height: 100%;
	cursor: pointer;
}

.search-icon {
	@apply text-black;
}

.search-box:hover {
}

.search-box:hover + .search-icon-label .search-icon {
	@apply text-primary;
}

.search-box:focus + .search-icon-label .search-icon {
	@apply text-primary;
}

/* Always expanded on mobile */
@media screen and (max-width: 1024px) {
	.search-box {
		width: 100%;
		border-radius: 20px;
		text-indent: 0 !important;
		padding-left: 15px;
	}
	.search-container {
		width: 100%;
	}
	.search-box::placeholder {
		color: black; /* Ensure placeholder is visible */
	}
	.search-icon-label {
		position: absolute;
		right: 10px;
	}
	#mobile-search-box {
		background: transparent;
		border: 1px solid #08a39a;
		width: 100% !important;
		color: black;
	}
	#mobile-search-box:focus {
		width: 100% !important;
	}
	.search-icon-label svg {
		color: #08a39a;
	}
}

.alt-search form {
	@apply flex justify-center items-center gap-2;
}

.alt-search form input {
	@apply bg-gray-100 rounded-full px-4 py-2;
}
.alt-search form .search-submit {
	@apply bg-primary text-white text-center;
}

.post img {
	@apply rounded-xl;
}

.search-content * {
	@apply text-sm text-black !no-underline;
}

.mega-indicator {
	@apply !mx-0;
}

@media (max-width: 1034px) {
	.desktop-search {
		@apply hidden;
	}
}
