/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

/*---------------------*/
/*--- HEADER STYLES ---*/
/*---------------------*/

#site-navigation a {
	@apply text-black whitespace-nowrap text-lg md:text-base;
}
#site-navigation ul li {
	@apply w-full text-left;
}
#site-navigation ul {
	@apply flex flex-col md:flex-row items-center gap-6;
}
.logo svg {
	@apply h-14 sm:h-16 md:h-20;
}
#site-navigation .feature-button a {
	@apply text-white lowercase;
}
#site-navigation .feature-button {
	@apply bg-primary text-white py-4 px-7 rounded-full  flex items-center justify-center fill-white gap-2;
}
#site-navigation .feature-button::before {
	content: "";
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iI2ZmZiIgY2xhc3M9InctNiBoLTYiPgogIDxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTYuNzUgM3YyLjI1TTE3LjI1IDN2Mi4yNU0zIDE4Ljc1VjcuNWEyLjI1IDIuMjUgMCAwIDEgMi4yNS0yLjI1aDEzLjVBMi4yNSAyLjI1IDAgMCAxIDIxIDcuNXYxMS4yNW0tMTggMEEyLjI1IDIuMjUgMCAwIDAgNS4yNSAyMWgxMy41QTIuMjUgMi4yNSAwIDAgMCAyMSAxOC43NW0tMTggMHYtNy41QTIuMjUgMi4yNSAwIDAgMSA1LjI1IDloMTMuNUEyLjI1IDIuMjUgMCAwIDEgMjEgMTEuMjV2Ny41bS05LTZoLjAwOHYuMDA4SDEydi0uMDA4Wk0xMiAxNWguMDA4di4wMDhIMTJWMTVabTAgMi4yNWguMDA4di4wMDhIMTJ2LS4wMDhaTTkuNzUgMTVoLjAwOHYuMDA4SDkuNzVWMTVabTAgMi4yNWguMDA4di4wMDhIOS43NXYtLjAwOFpNNy41IDE1aC4wMDh2LjAwOEg3LjVWMTVabTAgMi4yNWguMDA4di4wMDhINy41di0uMDA4Wm02Ljc1LTQuNWguMDA4di4wMDhoLS4wMDh2LS4wMDhabTAgMi4yNWguMDA4di4wMDhoLS4wMDhWMTVabTAgMi4yNWguMDA4di4wMDhoLS4wMDh2LS4wMDhabTIuMjUtNC41aC4wMDh2LjAwOEgxNi41di0uMDA4Wm0wIDIuMjVoLjAwOHYuMDA4SDE2LjVWMTVaIiAvPgo8L3N2Zz4K");
	background-size: contain;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

/*---------------------*/
/*--- Buttons ---*/
/*---------------------*/
.button {
	@apply rounded-full py-3 px-6 font-semibold text-center border ease-in-out duration-300 inline-block lowercase;
}
.button.primary {
	@apply bg-primary text-white hover:text-primary hover:bg-transparent border-primary;
}
.button.secondary {
	@apply bg-neutral-600 text-white hover:text-neutral-600 hover:bg-transparent border-neutral-600;
}
.button.alt {
	@apply border-black;
}
.button.alt:hover {
	@apply border-primary bg-primary text-white;
}
/*---------------------*/
/*--- Links ---*/
/*---------------------*/
.link {
	@apply font-semibold transition-all ease-in-out duration-300 inline-block relative mb-2;
}
.link:after {
	content: "";
	@apply w-6/12 h-[2px] absolute -bottom-1 left-0 bg-primary transition-all ease-in-out duration-300;
}
.link:hover:after {
	@apply w-full;
}
.link svg {
	@apply transition-all ease-in-out duration-300;
}
.link:hover svg {
	@apply ml-2;
}

/*---------------------*/
/*--- Scroll ---*/
/*---------------------*/
#circle {
	position: relative;
	width: 100%;
	padding-bottom: 200px;
	overflow: hidden;
}
#circle svg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-animation-name: rotate;
	-moz-animation-name: rotate;
	-ms-animation-name: rotate;
	-o-animation-name: rotate;
	animation-name: rotate;
	-webkit-animation-duration: 15s;
	-moz-animation-duration: 15s;
	-ms-animation-duration: 15s;
	-o-animation-duration: 15s;
	animation-duration: 15s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(360deg);
	}
	to {
		-webkit-transform: rotate(0);
	}
}
@-moz-keyframes rotate {
	from {
		-moz-transform: rotate(360deg);
	}
	to {
		-moz-transform: rotate(0);
	}
}
@-ms-keyframes rotate {
	from {
		-ms-transform: rotate(360deg);
	}
	to {
		-ms-transform: rotate(0);
	}
}
@-o-keyframes rotate {
	from {
		-o-transform: rotate(360deg);
	}
	to {
		-o-transform: rotate(0);
	}
}
@keyframes rotate {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0);
	}
}

/*---------------------*/
/*--- STYLED SEELCT ---*/
/*---------------------*/
.styled-select-container {
	position: relative;
	display: inline-block;
}

#styled-select {
	@apply min-w-[200px] bg-gradient-to-r from-teal-700 to-teal-500 inline-block rounded-lg text-white px-4 py-3 cursor-pointer flex justify-between items-center gap-3 text-sm font-light uppercase;
}
#styled-select svg {
	@apply w-6 h-6;
}

.styled-select-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	@apply rounded-b-lg w-full;
}

.styled-select-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	@apply flex items-center justify-start gap-2;
}
.styled-select-content a svg {
	@apply w-6 h-6;
}

.styled-select-content a:hover {
	background-color: #f1f1f1;
}
#select-text {
	@apply flex gap-2 items-center;
}

/* EMBLA */
.embla {
	overflow: hidden;
}
.embla__container {
	display: flex;
}
.embla__slide {
	flex: 0 0 100%;
	min-width: 0;
}
.embla__dots {
	@apply max-w-screen-2xl mx-auto py-4 px-5 md:px-20 flex flex-col gap-3 absolute bottom-[120px] md:bottom-[50%] right-0;
}
.embla__dot {
	@apply p-2 w-full h-full flex items-center justify-center cursor-pointer;
}
.embla__dot .dot-inner {
	@apply bg-gray-300 w-[10px] h-[10px] rounded-full;
}
.embla__dot.is-active {
	@apply border border-primary rounded-full;
}
.embla__dot.is-active .dot-inner {
	@apply bg-primary;
}
.embla__dot .slide-number {
	@apply absolute -left-12 md:left-2 font-bold text-black;
}
.embla__dot .dot-line {
	@apply absolute w-10 h-[1px] bg-black;
	left: calc(50% - 60px);
}

#hero .sb-feed-posts {
	@apply w-full md:!w-[40%];
}
#hero .sb-item-author-img {
	display: none;
}
#hero .sb-post-item {
	display: flex;
	flex-direction: column-reverse;
	gap: 0px;
}
#hero .sb-item-rating {
	display: none !important;
}
#hero .sb-post-item-wrap {
	padding: 0px !important;
}
#hero .sbr-owl-item {
	padding: 0px !important;
}
#hero .sb-feed-header {
	margin: 0px !important;
}
#hero .sb-feed-header-bottom {
	margin: 0px !important;
	margin-bottom: 5px !important;
}
#hero #sb-reviews-container-3 {
	margin-top: 20px !important;
}
#hero .sbr-owl-nav {
	display: none;
}
#hero .sbr-owl-dots {
	display: none;
}
#hero .sb-item-provider-icon {
	display: none;
}
