/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/

:root {
	--global-palette1: rgb(8, 163, 154) !important;
	--global-palette2: #2b6cb0;
	--global-palette3: #1a202c;
	--global-palette4: #2d3748;
	--global-palette5: #4a5568;
	--global-palette6: #718096;
	--global-palette7: #edf2f7;
	--global-palette8: #f7fafc;
	--global-palette9: #ffffff;
}

html {
	@apply !overflow-x-hidden;
}

main {
	@apply !overflow-x-hidden w-screen;
}

body {
	@apply relative;
}

.animate__initial {
	opacity: 0;
	animation-play-state: paused;
}

/*------------------*/
/*--- TYPOGRAPHY ---*/
/*------------------*/

p,
ul,
li {
	@apply text-gray-500 font-normal;
	font-size: var(--global-kb-font-size-md, 1.25rem);
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
}

h1 {
	font-size: clamp(36px, 4vw, 56px);
	line-height: 1;
	font-weight: bold;
}

h2 {
	font-size: var(--global-kb-font-size-lg, 2rem);
	line-height: 1;
	font-weight: bold;
}

.klg {
	font-size: var(--global-kb-font-size-lg, 2rem);
}

a:hover {
	@apply text-primary;
}

.hero-text-large {
	font-size: clamp(48px, 7vw, 96px);
	line-height: 1;
}
.hero-text-medium {
	line-height: 1;
	font-size: clamp(36px, 3vw, 56px);
}

.about-shape-divider-bottom-1,
.about-shape-divider-bottom-2 {
	width: 150%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.about-shape-divider-bottom-1 svg,
.about-shape-divider-bottom-2 svg {
	position: relative;
	display: block;
	width: calc(133% + 1.3px);
	height: 150px;
}

.about-shape-divider-bottom-1 .shape-fill {
	fill: rgb(249 250 251 / var(--tw-bg-opacity));
}
.about-shape-divider-bottom-2 .shape-fill {
	fill: #ffffff;
}

.service-shape-divider-bottom-1,
.service-shape-divider-bottom-2 {
	width: 150%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.service-shape-divider-bottom-1 svg,
.service-shape-divider-bottom-2 svg {
	position: relative;
	display: block;
	width: calc(133% + 1.3px);
	height: 150px;
}

.service-shape-divider-bottom-1 .shape-fill {
	fill: rgb(249 250 251 / var(--tw-bg-opacity));
}
.service-shape-divider-bottom-2 .shape-fill {
	@apply fill-gray-100;
}

#locations ul li.active {
	@apply bg-primary text-white;
}

.team {
	--slide-spacing: 1rem;
	--slide-size: 100%;
	--slide-height: 19rem;
	@apply px-5;
}
.team__viewport {
}
.team__container {
	backface-visibility: hidden;
	display: flex;
	touch-action: pan-y;
	margin-left: calc(var(--slide-spacing) * -1);
}
.team__slide {
	flex: 0 0 var(--slide-size);
	min-width: 0;
	padding-left: var(--slide-spacing);
	position: relative;
}
.team__slide .slide-content {
	@apply flex flex-col items-center;
}
.team__slide .slide-content > div {
	@apply w-full bg-white -mt-16 pt-20 pb-4 px-4 relative z-0 text-center flex flex-col items-center;
	box-shadow: 1px 14px 75px -2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 14px 75px -2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 14px 75px -2px rgba(0, 0, 0, 0.1);
}
.team__slide .slide-content > div a {
	@apply text-xs px-2 py-1 mt-4;
}
.team__slide .slide-content > div p {
	@apply text-black;
}
.team__slide .slide-content img {
	@apply rounded-full w-8/12 relative z-10;
}
@screen md {
	.team {
		--slide-spacing: 1rem;
		--slide-size: 33%;
		--slide-height: 19rem;
		@apply px-20;
	}
	.team__slide {
		flex: 0 0 var(--slide-size);
		min-width: 0;
		padding-left: var(--slide-spacing);
		position: relative;
	}
	.team__slide .slide-content > div {
		@apply -mt-40 pt-48 rounded-xl;
	}
}
@screen lg {
	.team {
		--slide-spacing: 1rem;
		--slide-size: 25%;
		--slide-height: 19rem;
		@apply px-20;
	}
	.team__slide {
		flex: 0 0 var(--slide-size);
		min-width: 0;
		padding-left: var(--slide-spacing);
		position: relative;
	}
	.team__slide .slide-content > div {
		@apply -mt-48 pt-52 rounded-xl;
	}
}

#locations-carousel {
	--slide-spacing: 2rem;
	--slide-size: 100%;
	--slide-height: 19rem;
}

.home #locations-carousel {
	@apply px-10;
}

#locations-carousel .embla__container {
	backface-visibility: hidden;
	display: flex;
	touch-action: pan-y;
	margin-left: calc(var(--slide-spacing) * -1);
}
#locations-carousel .embla__slide {
	flex: 0 0 var(--slide-size);
	min-width: 0;
	padding-left: var(--slide-spacing);
	position: relative;
}

@screen md {
	#locations-carousel {
		--slide-spacing: 1rem;
		--slide-size: 50%;
	}
	.home #locations-carousel {
		@apply px-20;
	}
	#locations-carousel .embla__slide {
		flex: 0 0 var(--slide-size);
		min-width: 0;
		padding-left: var(--slide-spacing);
		position: relative;
	}
}
@screen lg {
	#locations-carousel {
		--slide-spacing: 1.5rem;
		--slide-size: 33%;
	}
	.home #locations-carousel {
		@apply px-20;
	}
	#locations-carousel .embla__slide {
		flex: 0 0 var(--slide-size);
		min-width: 0;
		padding-left: var(--slide-spacing);
		position: relative;
	}
}

@screen xl {
	#locations-carousel {
		--slide-spacing: 1.5rem;
		--slide-size: 25%;
	}
	.home #locations-carousel {
		@apply px-20;
	}
	#locations-carousel .embla__slide {
		flex: 0 0 var(--slide-size);
		min-width: 0;
		padding-left: var(--slide-spacing);
		position: relative;
	}
}

.locations-divider {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.locations-divider svg {
	position: relative;
	display: block;
	width: calc(164% + 1.3px);
	height: 100px;
}

.locations-divider .shape-fill {
	fill: #ffffff;
}

.locations-divider-2 {
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.locations-divider-2 svg {
	position: relative;
	display: block;
	width: calc(164% + 1.3px);
	height: 100px;
}

.locations-divider-2 .shape-fill {
	@apply fill-gray-50;
}

@screen md {
	.locations-divider svg {
		width: calc(100%);
	}
	.locations-divider-2 svg {
		width: calc(100%);
	}
	.about-shape-divider-bottom-1 svg,
	.about-shape-divider-bottom-2 svg {
		width: calc(100%);
	}
	.service-shape-divider-bottom-1 svg,
	.service-shape-divider-bottom-2 svg {
		width: calc(100%);
	}
}

.social-link {
	@apply flex gap-2 items-center text-center border border-primary rounded-full px-4 py-2 text-blue-500;
}
.social-link svg {
	@apply w-4 h-auto mt-[1px];
}
.contact-link svg {
	@apply w-6;
}
.contact-link {
	@apply text-left;
}
.gform_wrapper .gfield {
	@apply !my-4;
}
.gform_wrapper .gfield_label {
	@apply !text-left !text-base;
}
.ginput_container {
	@apply !mt-2;
}
.gform_wrapper .gform-grid-col {
	@apply !flex !flex-col !gap-1;
}
.gform_wrapper fieldset span:last-of-type {
	@apply !mt-4;
}
.gform_wrapper input {
	@apply !w-full !rounded-full !px-5 !py-3 placeholder:!text-gray-500 !border !border-gray-300 !text-sm;
}
.gform_wrapper textarea {
	@apply !rounded-3xl placeholder:!text-gray-500 !border !border-gray-300 !px-5 !py-3 !w-full !text-sm;
}
.hidden_sub_label {
	@apply !hidden;
}
.gform_required_legend {
	@apply !hidden;
}
.gform_button {
	@apply !bg-primary !text-white !inline-block !w-auto !px-6;
}
.ginput_counter {
	@apply !text-xs !text-gray-400;
}
.gform_footer {
	@apply !border-t !border-gray-300 !pt-4;
}

.name_first input {
	background: url("/wp-content/themes/dental1/theme/assets/icons/user.svg")
		no-repeat scroll 0 1px transparent;
	background-size: 24px 24px;
	background-position: 1rem center;
	display: block;
	padding-left: 48px;
}
.name_last input {
	background: url("/wp-content/themes/dental1/theme/assets/icons/user.svg")
		no-repeat scroll 0 1px transparent;
	background-size: 24px 24px;
	background-position: 1rem center;
	display: block;
	padding-left: 48px;
}
.ginput_container_email input {
	background: url("/wp-content/themes/dental1/theme/assets/icons/mail-bg.svg")
		no-repeat scroll 0 1px transparent;
	background-size: 24px 24px;
	background-position: 1rem center;
	display: block;
	padding-left: 48px;
}

@screen md {
	#childrens-dentistry-content {
		@apply !grid grid-cols-3 grid-rows-2  place-content-end relative;
	}
	#childrens-dentistry-content img {
		@apply absolute left-[44%] translate-x-[-50%] w-[55vw] max-h-screen;
	}
	#childrens-dentistry-content header {
		@apply col-start-3 flex flex-col items-start justify-end relative z-10;
	}
	#childrens-dentistry-content h2 {
		font-size: clamp(38px, 6vw, 58px);
		line-height: 1;
		@apply text-left border-b-0;
	}
	#childrens-dentistry-content > div {
		@apply col-start-3 place-self-start text-left relative z-10;
	}
	#childrens-dentistry-content > div > div {
		@apply justify-start;
	}
	#select-text svg {
		@apply !w-7 !h-7;
	}
	#select-text {
		@apply !uppercase;
	}

	.desktop-service-select {
		@apply absolute top-[100px] left-20 bg-white/50  shadow-lg rounded-xl flex flex-col items-start z-20 w-[300px];
	}
	.desktop-service-select ul {
		@apply divide-y w-full;
	}
	.desktop-service-select li {
		@apply px-4 py-3 flex gap-2 items-center justify-start;
	}
}

@screen md {
	#locations header {
		@apply text-left items-start max-w-lg;
	}
	#locations .locations-description {
		@apply items-start text-left max-w-lg mt-6;
	}
	#locations .locations-description p {
		@apply text-left;
	}
	#map {
		@apply bg-gray-50 mx-auto;
	}
	#location-details {
		@apply absolute w-[500px] right-[50%] translate-x-[250px] top-[65%];
	}
	#location-details svg {
		@apply text-primary w-4 h-4;
	}
	#location-details img {
		@apply h-40 min-h-full;
	}
	#location-address p {
		@apply flex-wrap;
	}
	.locations-map {
		@apply max-w-screen-2xl mx-auto;
	}
	#location-title {
		@apply text-lg;
	}
	#location-phone,
	#location-email,
	#location-address,
	#address-text {
		@apply !text-base text-gray-600;
	}
}

@screen lg {
	#location-details {
		@apply absolute max-w-[500px] !right-20 top-[45%] translate-x-0;
	}
}
.svg {
	position: absolute;
	width: 0;
	height: 0;
}
.clipped {
	width: 100%;
	background-size: cover;
	-webkit-clip-path: url(#my-clip-path);
	clip-path: url(#my-clip-path);
}
.marker {
	@apply rounded-full bg-primary w-4 h-4 border-2 border-white cursor-pointer relative z-50 !absolute;
}
.mapboxgl-popup {
	z-index: 9999; /* Use a high value to ensure it's above other elements */
}
.mapboxgl-canvas {
	@apply cursor-default;
}
/* Add your custom popup styles here */
.custom-popup {
	position: absolute;
	background: white;
	padding: 10px;
	border: 1px solid #ccc;
	z-index: 1;
}
.marker-active::before {
	content: "";
	display: block;
	position: absolute;
	width: 310%;
	height: 310%;
	@apply bg-primary/50 rounded-full top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%] -z-10;
}
.mapboxgl-popup-anchor-bottom {
	@apply !flex-col;
}
.mapboxgl-popup-tip {
	@apply rotate-180;
}
.mapboxgl-popup-content {
	background: #fff;
	padding: 3px 13px !important;
	pointer-events: auto;
	position: relative;
	@apply !border !border-primary !rounded-full !text-primary;
}
.mapboxgl-popup-close-button {
	@apply hidden;
}
.animate__delay-0_2s {
	animation-delay: 200ms !important;
}
.animate__delay-0_4s {
	animation-delay: 400ms !important;
}
.animate__delay-0_6s {
	animation-delay: 600ms !important;
}
.animate__delay-0_8s {
	animation-delay: 800ms !important;
}
.animate__delay-1_2s {
	animation-delay: 1.2s !important;
}
.animate__delay-1_4s {
	animation-delay: 1.4s !important;
}
.animate__delay-1_6s {
	animation-delay: 1.6s !important;
}
.animate__delay-1_8s {
	animation-delay: 1.8s !important;
}

@media (max-width: 768px) {
	.form-columns-2 {
		flex-direction: column;
	}
}


.service-form {
	@apply w-full p-7 rounded-3xl text-left bg-white shadow-2xl shadow-teal-500/30;
}


#main-right > li > details > summary > a {
	@apply font-bold;
}

#main-right > li > details > ul > li > a, #main-right > li > details > ul > li > summary > a {
	@apply font-bold;
}